/* font family */
$ff-open-sans: 'Open Sans' sans-serif;
$ff-roboto: 'Roboto' sans-serif;

// colors
$color-white: #fff;
$color-red: #f54243;
$color-gray:#878787;
$color-black: #000;

// font sizes
$fs-36: 36px;
$fs-32: 32px;
$fs-30: 30px;
$fs-25: 25px;
$fs-24: 24px;
$fs-20: 20px;
$fs-18: 18px;
$fs-16: 16px;
$fs-15: 15px;
$fs-14: 14px;
$fs-13: 13px;
$fs-12: 12px;
$fs-11: 11px;





